
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
@import url(https://fonts.googleapis.com/css?family=Mansalva:400,500);
@import url(https://fonts.googleapis.com/css?family=Cute+Font:400,500);
@import url(https://fonts.googleapis.com/css?family=Arvo:400,500);

body{
    
    background-color:aquamarine;
    margin:50px;
    font-family: 'Arvo';
    
}
#title{
    text-align: center;
    font-size: 4em;
    font-family: 'Mansalva';
    
}
#description{
    text-align: center;
    font-size: 3em;
    font-family: 'Cute Font';
}
#survey-form{
    background-color:azure;
    
}
div{
    display:grid;
    grid-template-columns: 1fr 1fr; 
    
    
}



label{
    justify-self: end;
    margin: 10px; 
    
  }
  


  input,select{
    
    height: 25px;
    width: 200px;
    margin: 5px;
    font-family: 'Arvo';
    
  }
  textarea{
    
    height: 50px;
    width:300px;
    margin: 8px;

  }
  
  
  button{
    height: 20px;
    width:80px;
    margin: 8px;
    font-family: 'Arvo';
  }

  




